body {
  margin: 0;
  background: linear-gradient(to right, #8c52ff, #5ce1e6);
}

#logo {
  height: 70px;
  float: left;
}

.NavBar {
  font-family: "Bad Script", cursive;
  font-size: 33px;
  text-align: center;
  padding: 10px;
  margin-top: 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: inline;
  
}

/* .NavBar:hover {
  background-color: black;
  color: goldenrod;
} */
